{% extends 'base.html.twig' %}

{% block main %}

    <font color="#daa520">
        <h3>Admins:</h3>
        {% for user in users %}

            {% if user.isAdmin %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <span style="float:left">{{ user.email }}<font color= white> Is</font><font color="#ffd700"> Admin</font></span>
                            <span style="float:right;">Username:<font color="#6495ed"> {{ user.username }}</font> </span>
                            <hr/>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <h3>Users:</h3>
        {% for user in users %}
            {% if not user.isAdmin %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-2">
                            <span style="float:left">{{ user.email }}<font color= white> Is</font><font color="lime"> User</font></span>
                            <span style="float:right;">Username:<font color="#6495ed"> {{ user.username }}</font> </span>
                            <hr/>
                        </div>
                    </div>
                </div>
            {% endif %}


        {% endfor %}

    </font>
{% endblock %}